data_bound_2d.csv linguist-generated=true
data_bound_3d.csv linguist-generated=true
data_class_A.csv linguist-generated=true
data_class_B.csv linguist-generated=true
data_line_3d.csv linguist-generated=true
data_reg_3d.csv linguist-generated=true
data_reg_3d_overfit.csv linguist-generated=true
